<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{ comercio.name }}" ng-controller="ChatDetailCtrl">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <button class="button icon ion-plus-circled button-assertive button-right" ng-click="openModal()"></button>
    <p>
      Descripción: {{ comercio.name }}
    </p>
    

    <ion-list ng-repeat="art in invComercio">
      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right"type="item-text-wrap" href="#/tab/chats/{{comercio.$id}}"> -->
      <ion-item>
        <!-- <img ng-src="{{chat.face}}"> -->
        <span>{{ art.name }} x {{art.quantity}}</span>
        <span class="item-note" ng-bind="art.price"></span>
        <!-- <i class="icon ion-android-arrow-dropright icon-accessory"></i> -->

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
