<ion-view view-title="Comercios" ng-controller="ChatsCtrl">
  <ion-content>
  <div class="item item-button-right">
    Agregar comercio
    <button class="button button-outline button-stable" ng-click="openModal()">
      <i class="icon ion-android-add-circle"></i>
    </button>
  </div>
    <ion-list ng-repeat="comercio in comercios">
      <ion-item class="item-remove-animate item-avatar item-icon-right"type="item-text-wrap" href="#/tab/chats/{{comercio.$id}}">
        <img ng-src="{{chat.face}}">
        <h2 ng-bind="comercio.name"></h2>
        <p ng-bind="comercio.description"></p>
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
